.side-bar
  -# ↓機能実装時に検索ルーティングを設定する事
  .side-bar__product-number
    = form_with(model: @product) do |form|
      .search.clearfix
        製品番号
        = form.text_field :number, class: "search__input"
        = form.submit "検索", class: "search__btn"
    - if current_user.department_id == 2
      = link_to "製品を新規登録", new_product_path, class: 'new_product-btn'

  .side-bar__product-design
    .info
      製品番号
      .info__output
        仮入力
        -# = product.design.number
    .info
      社名
      .info__output
        仮入力
        -# = product.design.client
    .info
      材質
      .info__output
        仮入力
        -# = product.design.material
    .info-size.clearfix
      設計寸法
      .info-size__size
        .output
          仮入力
          -# = product.design.length
        m ✖️
        .output
          仮入力
          -# = product.design.width
        cm
      .info-size__weight
        .output
          仮入力
          -# = #次の計算結果→length * width * material.basis-weight
        kg

  .side-bar__user-name.clearfix
    .info
      .info__output
        = current_user.name
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'info__logout'